body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 40px;
}
p {
  color:dimgrey;
}
.green-highlight {
  color: lightgreen;
}
.half-width {
  width: 40%;
  float: left;
  margin-left: 5%;
  padding-left: 2%;
}
.half-width img {
  width: 100%;
  
}
.top-banner {
  
  background-image: url('images/top-banner.png');
  background-repeat: no-repeat;
}
section {
  height: 500px;
  padding-bottom: 150px;
  
}
.link-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: lightblue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight:  700;
}
.dream-area {
  background-image: url('images/dream-bg.png');
  background-repeat: no-repeat;
  background-position: right;

}
  
.box {
  display: inline-block;
  box-shadow: 10px 10px 40px gray;
border-radius: 5px;
vertical-align: top;
float: none;
width: 40%;
margin: 2% 4%;
box-sizing: border-box;
height: 35%;
text-align: left;

}


.experience-area {
  background-image: url('images/exp-bg.png');
  background-repeat: no-repeat;
  background-position: left;
  clear:both;
  
}

#full 
{
  border-left: 7px solid;
  border-image: linear-gradient(tomato,lightgreen);
  border-image-slice: 1;
}
#user 
{
  border-left: 7px solid;
  border-image: linear-gradient(rgb(101, 101, 223),lightgreen);
  border-image-slice: 1;
}
footer {
  
  text-align: center;
}